@import 'root';
@import 'components/header';
@import 'page/aboutIndex.scss';
@import 'page/videoIndex.scss';
@import 'page/galery.scss';
@import 'page/contact.scss';
@import 'page/../components/footer';

