.video{
    width: 70%;
    height: 200px;
    margin: 0 auto;
    margin-top: 25rem;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    gap: 1rem;

    .container__video{
         width: 550px;
         height: 800px;
         object-fit: cover;
         position: relative;
        .video__button{
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid wheat;
            left: 1rem;
            top: 1rem;
            // right: 50%;
            // top: 50%;
            // left: 50%;
            // bottom: 50%;
        }
        .video__img{
            width: 100%;
            height: 100%;
        }
    }
    .video__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        .video__title{
            font-size: 3rem;
        }
        .video__description{
            color: #333;
        }
        .video__content{
            width: 300px;
            position: relative;
            top: 1rem;
            .video__image{
                width: 100%;
            }
        }
    }
}

@media (max-width: 800px){
    .video{
        grid-template-columns: 1fr;
        margin-top: 10rem;
        width: 90%;
        gap: 2rem;
        .container__video{
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 400px){
    .video{
        grid-template-columns: 1fr;
        margin-top: 10rem;
        width: 90%;
        gap: 2rem;
        .container__video{
            width: 100%;
            object-fit: cover;
            height: 80%;
        }
    }
}