.about{
    &__item{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10rem;
        .item__title{
            font-size: 4rem;
            font-weight: 400;
            text-transform: uppercase;
        }
        .item__text{
            text-transform: uppercase;
            margin: 15px;
            color: #333;
        }
    }

    .about__content{
        display: grid;
        grid-template-columns: repeat(2, 50%);

         width: 80%;
         margin: auto;
         margin-top: 12rem;

        .content__text{
            display: flex;
            flex-direction: column;
            justify-content:end;
            gap: 2rem;
            width: 80%;
            margin: auto;
            .conten__title{
                font-size: 3rem;
                text-transform: uppercase;
                font-weight: 600;
            }
            a{
                background-color: yellow;
                padding: 15px;
                color: #333;
                border: 1px solid yellow;
                text-decoration: none;
                &:hover{
                    background-color: transparent;
                }
            }
        }
         .content__image{
             position: relative;
             .content__image__one{
                 width: 300px;
                 height:300px;
                 object-fit: contain;
                 .image__one{
                     width: 100%;
                 }
             }
             .content__image__two{
                 position: absolute;
                 width: 300px;
                //  height:440px;
                 object-fit: contain;

                 top: -5rem;
                 left: 15rem;
                 .image__two{
                     border: 6px solid #fff;
                     width: 100%;
                 }
             }
             }
        }
    }


      @media  (max-width: 800px){
        .about{
            .about__content{
                grid-template-columns: 1fr;
                .content__text{
                    align-items: center;
                    .conten__title{
                        font-size: 2rem;
                }
            }
            .content__image{
                display: none;
            }
        }
        }
      }

      @media  (max-width: 400px){
        .about{
            .about__content{
                margin-top: 4rem;
                .content__text{
                    align-items: center;
                    .conten__title{
                        font-size: 1.5rem;
                }
                .content__parrafo{
                    text-align: center;
                }
            }
            .content__image{
                display: none;
            }
        }
        }
      }

