.header{
  background: #333;
  background-image: url(../image/header.jpg);
  background-position: center;
  height: 70vh;
  position: relative;
  &::before{
      content: "";
      position: absolute;
      background-color: #3131315a;
      height: 70vh;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  &__container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      .header__image{
          width: 150px;
          .image{
              width: 100%;
          }
      }
      .nav{
      z-index: 1;
          &__menu{
              display: flex;
              // gap: 2rem;
              .nav__items{
                  .nav__links{
                      color: aliceblue;
                      padding: 15px;
                      text-transform: uppercase;
                      font-size: .8rem;
                      text-decoration: none;
                      &:hover{
                          color: yellow;
                      }
                  }
              }
          }
      }
  }

  .publicity{
      color: #fff;
      width: 80%;
      margin: auto;
      height: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      &__container{
          z-index: 1000;
          p{
              font-size: 1rem;
              font-weight: 400;
          }
          h1{
          font-size: 4rem;
      }
      h2{
          color: yellow;
      }
      a{
          padding:15px ;
          border:1px solid yellow;
          color: #fff;
          top: 2rem;
          position: relative;
          text-decoration: none;
          &:hover{
              background-color: yellow;
              color: #333;
          }
      }
      }
  }
}

@media (max-width: 800px){
  .nav__items{
      display: none;
  }
  .header__container{
      justify-content: space-between;
      
  }
  
}
@media (max-width: 400px){
  .header{
      .publicity{
          &__container{
              h1{
                  font-size: 2rem;
              }
          }
      }
  }
}


